html {
    box-sizing: border-box;
    box-sizing: inherit
}

.cadastro{


position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: white;
    border-radius: 15px; /* Arredonda os cantos */
}



body{
    background-image: url(../imagens/fundo_ubs.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
}
.button{
    width: 300px;
    background-color: rgb(115, 158, 243);
    border-radius: 15px; /* Arredonda os cantos */
    color: white;
}
.borda{
    border-radius: 15px; /* Arredonda os cantos */
    width: 300px;
}